<moya xmlns="http://moyaproject.com">

    <!-- Initialize a server -->
    <server docname="main">

        <!-- Import libraries for use in your project -->
        <import py="moya.libs.debug" if=".debug"/>
        <import py="moya.libs.diagnostics" if="not .debug"/>
        <import py="moya.libs.static"/>
        <import py="moya.libs.bootstrap"/>
        <import py="moya.libs.forms"/>
        <import py="moya.libs.widgets"/>
        <import py="moya.libs.wysihtml5"/>
        <import py="moya.libs.thumbnail"/>

        <install name="forms" lib="moya.forms"/>
        <install name="widgets" lib="moya.widgets"/>
        <install name="media" lib="moya.static" mount="/static/"/>
        <install name="debug" lib="moya.debug" mount="/debug/" if=".debug"/>
        <install name="diagnostics" lib="moya.diagnostics" if="not .debug"/>
        <install name="bootstrap" lib="moya.twitter.bootstrap"/>
        <install name="thumbs" lib="moya.thumbnail"/>
        <install name="serveuploads" lib="moya.static" mount="/uploads/"/>

        <!--Added by 'moya start library'-->
        <import location="./local/willmcgugan.beetlecam"/>
        <install name="beetlecam" lib="willmcgugan.beetlecam" mount="/"/>

</server>

</moya>
